<div class="vote-container">
    <h1> Sir Vote-a-lot </h1>


    <table class="vote-table">
        <tr>
            <td class="tbl-column ans-column">
                <app-question (questionEvent)="questionAddedHandler($event)"></app-question>
            </td>
            <td class="tbl-column ans-column">
                <app-vote [question]="question"></app-vote>
            </td>
            <td class="tbl-column">
                <app-chart [question]="question"></app-chart>
            </td>
        </tr>
    </table>
</div>
