$padding: 1%;
.vote-container {
    font-family: Comic Sans MS;
    padding: 1%;
}

h1 {
    margin-left: 1%;
}

.vote-table {
    height: calc(100vh - 0.3*100vh);
    padding: $padding;
    width: 100%;
    border-collapse: collapse;
}


.tbl-column {
    border: 1px solid black;
    padding: $padding;
    vertical-align:top;
}

.ans-column {
    width: 30%;
}
