<table class="vote-table">
    <tr>
        <td class="tbl-column ans-column">
            <input type="text" [(ngModel)]="question" name="question" (change)="questionAdded()" placeholder="Enter the question for vote">
            <br><br>
            <table *ngIf="question.length" class="answers">
                <tr *ngFor="let ans of answers; let i = index" >
                    <td>
                        <input type="text" [(ngModel)]="answers[i]">&nbsp;&nbsp;
                    </td>
                    <td>
                        <button class="btn btn-danger remove-btn" (click)="removeAnswer(ans)"> x </button>
                    </td>
                </tr>
            </table>
            <span *ngIf="(answers.length < 10 && question.length)">
                <input type="text" maxlength="100" placeholder="Type an answer" [(ngModel)]="answer"
                    name="answer">&nbsp;&nbsp;
                <button class="btn btn-success" (click)="addAnswer()"> Add </button>
            </span>

            <br><br>
            <label> {{answers.length}} /10 possible answers </label> <button class="btn btn-warning reset-btn"
                (click)="resetForm()"> Reset </button>
        </td>

        <!-- <td class="tbl-column ans-column">
            <app-vote [question]="question" [answers]="answers"></app-vote>
        </td>
        <td class="tbl-column">
            <app-chart [question]="question"></app-chart>
        </td> -->
    </tr>
</table>