$padding: 1%;
.reset-btn {
    margin-right: 2%;
    float: right;
}

.vote-table {
    height: calc(100vh - 0.3*100vh);
    width: 100%;
    border-collapse: collapse;
}

.remove-btn {
    margin: 25%;
    padding: 5px 10px;
}

.tbl-column {
    padding: $padding;
    vertical-align:top;
}

.ans-column {
    width: 30%;
}