$barWidth: 56px;
$MaxHeight: calc(100vh - 0.5*100vh);

.chart .content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $MaxHeight;
}

.chart .content span{
    color: #707070;
}

.chart .line{
    background-color: #CCCCCC;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.chart .legends{
    display: flex;
    flex-direction: row;
    color: #707070;
    text-align: center;
}

.chart .legends span{
    width: $barWidth;
    margin:0 15px;
}

.chart .bars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.chart .bar{
    width: $barWidth;
    min-height: 2px;
    margin:0 14px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
