<h3> {{question}} </h3>

<div class="chart">
    <div class="content">
        <div class="bars" *ngFor="let item of chartData">
            <span>{{item.count}}</span>
            <div class="bar" style="background-color: blanchedalmond;"  [style.height]="item.count ? item.count + 'px' : 0"></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="legends">
        <span style="max-width: 10%;" *ngFor="let item of chartData">{{item.label}}</span>
    </div>
</div>
<br><br>
<label> Total Votes : {{totalVotes}}</label>