<h3> {{question}} </h3>

<table class="vote-table">
    <tr *ngFor="let ans of answers; let i = index;">
        <input type="radio" (change)="updateAnswer(ans)" [checked]="(votedAnswer == ans)" value="ans">
        <label> &nbsp;&nbsp; {{answers[i]}} </label>
    </tr>
</table>

<br><br>


<button *ngIf="(answers.length > 1)" class="btn btn-primary vote-btn" (click)="castVote()"> Vote </button>